body {
	color: white;
	background-color: #2EBD59;
	width: 95%;
	font-family:Georgia;

	margin: 25px;
}

button {
	background-color: #212121;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    margin: 20px;
	border-radius: 20px; 
		
}
#results{
	background-color: rgba(184,189,184,0.70);
	padding: 25px 25px;
	border-radius: 20px;
}
